{% extends 'base.html' %}
{% block heading %} first  page {% endblock heading %}
{% block body %}<form>  
    <div class="container" style="width:50%; margin: 0 auto; border: none;">   
        <label>name : </label>   
        <input type="text" placeholder="Enter Your name" id="name" name="name" required >  
        <label>Password : </label>   
        <input type="text" placeholder="Enter Password" id="password" name="password" required>
        <label>phone : </label>   
        <input type="text" placeholder="Enter Phone Number" name="phone" required> 
        <label>age : </label>
        <input type="text" placeholder="Enter age" id="age" name="age" required>
        <label>address : </label>   
        <input type="text" placeholder="Enter address" id="address" name="address" required>
        <label>gender : </label>   
        <input type="text" placeholder="Enter gender" id="gender" name="gender" required>
        <button type="submit">Login</button>   
        <input type="checkbox" checked="checked"> Remember me   
        <button type="button" class="cancelbtn"> Cancel</button>   
        Forgot <a href="#"> password? </a>   
    </div>   
</form>{% endblock body %}